$font-color: #ffffff;
$font-family: 'Raleway', sans-serif;
$letter-spacing: -0.05em;

$font-size-large: 70px;
$line-height-large: 73px;

$font-size-medium: 35px;
$line-height-medium: 36px;

$font-size-small: 15px;
$line-height-small: 73px;

$margin-default: 65.5px;

$background-color: #000000;
$linear-gradient: linear-gradient(89.89deg, #ce5b82 0.07%, #af78db 57.33%, #b4d7f9 105.77%);
$border: 1px solid rgba(0, 0, 0, 0.2);
