$font-color: #ffffff;
$font-family: 'Raleway', sans-serif;
$letter-spacing: -0.05em;

$font-size-large: 70px;
$line-height-large: 73px;

$font-size-medium: 35px;
$line-height-medium: 36px;

$font-size-small: 15px;
$line-height-small: 73px;

$margin-default: 65.5px;

$background-color: #000000;
