@import './variables';

#app {
	transition: all 1s;
	font-family: $font-family;
	color: $font-color;
	background-color: $background-color;
	font-style: normal;
	font-weight: normal;
	letter-spacing: $letter-spacing;
}

h1 {
	font-size: $font-size-large;
	line-height: $line-height-large;
	font-weight: normal;
}

h2 {
	line-height: $line-height-medium;
	font-size: $font-size-medium;
	font-weight: normal;
}

p {
	font-size: $font-size-small;
	line-height: $line-height-small;
	font-weight: normal;
	letter-spacing: -0.025em;
}

.flex-row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.flex-column {
	display: flex;
	flex-direction: column;
}

.text-gradient {
	background: $linear-gradient;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

.margin-left-default {
	margin-left: $margin-default;
}
